@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

@media screen and (min-width:50px) and (max-width:599px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;

    }

    body {
        margin: 10px;
        padding: 10px;

    }

    .top-potion {
        background-image: url("Required Materials/Netflix-Main-Img.jpg");
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        object-position: center center;

    }

.black-box{
    border: 1px solid red;
    height: 90vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
}

.option-values{
    display: none;
}

}